<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/gemfire-poc-server/launches"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gemfire-poc-server"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gemstone.gemfire.internal.tools.gfsh.app.Gfsh"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-l localhost:10334 -advanced"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gemfire-poc-server"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djline.WindowsTerminal.directConsole=false -Dgfsh=true -Dgfsh.debug=true -DgemfirePropertyFIle=${project_loc}/src/main/resources/gfsh.properties -Dgemfire.log-file=${project_loc}/target/gfsh.log -Dgemfire.statistic-archive-file==${project_loc}/target/gfsh_stat.gfs -DreadTimeout=60000 -DallowableServerTimeoutPeriod=60000  -Dgfsh.command.jar.path=${project_loc}/lib/gfsh/gfsh/6.6/gfsh-6.6.jar -Dgfsh.pwd=${project_loc}/target -XX:MaxJavaStackTraceDepth=2000"/>
</launchConfiguration>
