<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- This context is used to launch an H2 server and Web Interface -->

	<bean id="org.h2.tools.Server" class="org.h2.tools.Server"
		factory-method="createTcpServer" init-method="start" destroy-method="stop">
		<constructor-arg
			value="-tcp,-tcpAllowOthers,true,-tcpPort,8043,-url,jdbc:h2:tcp://localhost:8043/griddb" />
	</bean>

	<bean id="org.h2.tools.WebServer" class="org.h2.tools.Server"
		factory-method="createWebServer" init-method="start" destroy-method="stop">
		<constructor-arg value="-web,-webPort,8082,-trace" />
	</bean>

	<bean id="demo.pivotal.util.H2RunScriptUtil" class="demo.pivotal.util.H2RunScriptUtil"
		init-method="run">
		<constructor-arg
			value="-url,jdbc:h2:tcp://localhost:8043/griddb,-user,sa,-script,classpath:/SQL/create.sql, -continueOnError, -showResults" />
	</bean>

</beans>