<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gfe="http://www.springframework.org/schema/gemfire"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire-1.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:component-scan base-package="demo.vmware.dao" />

	<!-- Generic properties that we can set, such as where to store data and 
		log files -->
	<context:property-placeholder
		system-properties-mode="OVERRIDE" location="classpath:/common.properties" />

	<!-- gemfire.properties file for the cache server -->
	<util:properties id="props"
		location="classpath:gemfire-client.properties" local-override="true" />

	<gfe:client-cache pool-name="client" properties-ref="props"
		cache-xml-location="classpath:cache-client.xml" />

	<gfe:pool id="client" subscription-enabled="true">
		<gfe:locator host="${locator.host1}" port="${locator.port1}" />
		<gfe:locator host="${locator.host2}" port="${locator.port2}" />
	</gfe:pool>

	<!-- Simple Partitioned Region with a listener and interest registration -->
	<bean id="cache-logger" class="demo.vmware.util.CacheLogger" />
	<bean id="gtDummy" class="org.springframework.data.gemfire.GemfireTemplate"
		p:region-ref="DUMMY" />
	<gfe:client-region id="DUMMY" pool-name="client">
		<gfe:cache-listener ref="cache-logger" />
		<gfe:key-interest durable="false">
			<bean id="key" class="java.lang.Integer" c:_0="2000" />
		</gfe:key-interest>
	</gfe:client-region>

	<!-- Continuous Query -->
	<bean id="cqListener" class="demo.vmware.util.CQListener" />

	<gfe:cq-listener-container>
		<gfe:listener ref="cqListener"
			query="select * from /DUMMY where field2=54321" />
	</gfe:cq-listener-container>

	<!-- Declarative Caching -->
	<cache:annotation-driven />
	<bean id="cacheManager"
		class="org.springframework.data.gemfire.support.GemfireCacheManager"
		p:cache-ref="gemfire-cache" />

	<bean id="gtResort" class="org.springframework.data.gemfire.GemfireTemplate"
		p:region-ref="RESORT" />
	<gfe:client-region id="RESORT" pool-name="client" />

</beans>
